@import '../globals.scss';

.asteroidCard {
    max-width: 320px;
    height: 460px;
    border-radius: $Border-Radius * 2;
    color: $Color-Grayscale-1;
    background-color: $Color-Primary-Light-1;
    &__picture {
        position: relative;
        height: 160px;
        &-asteroid img {
            width: 100%;
            height: 160px !important;
            border-top-left-radius: $Border-Radius * 2;
            border-top-right-radius: $Border-Radius * 2;
        }
        &-indicator {
            position: absolute;
            top: 0;
        }
        &-indicator img {
            width: 60px;
            height: 60px;
            margin: $Spacing-Small;
        }
        &-velocity {
            position: absolute;
            right: 10px;
            top: 120px;
            width: 65px;
            height: 65px;
            border-radius: 100%;
            background: $Gradient;
        }
        &-velocity p {
            margin-top: $Spacing-Small - 2;
            text-align: center;
            line-height: .8;
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $Spacing-Small;
        height: 300px;
        p {
            flex: 1;
            margin: 0;
        }
        &-date {
            display: flex;
            line-height: .8;
        }
        &-diameter {
            @extend .asteroidCard__details-date
        }
    }
}