@import '../styles.scss';

.AsteroidVisualizerItem {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: none;
  color: $Color-Grayscale-1;
  background-color: transparent;
  cursor: pointer;
  user-select: none;

  &:nth-of-type(1) {
    left: 100px;
  }

  &:nth-of-type(2) {
    left: 40px;
    top: 100px;
  }

  &:nth-of-type(3) {
    right: 180px;
    top: 50px;
  }

  &:nth-of-type(4) {
    bottom: 90px;
    left: 140px;
  }

  &:nth-of-type(5) {
    right: 200px;
    bottom: 100px;
  }

  &:nth-of-type(6) {
    right: 90px;
    bottom: 200px;
  }

  &__name {
    z-index: -1;
  }

  &__dot {
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: $Spacing-ExtraSmall;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(234, 82, 70, 1) 0%, rgba(209, 6, 106, 1) 100%);
  }

  & .wave {
    z-index: -2;
    width: 30px;
    height: 30px;
    opacity: .5;
    border-radius: 50%;
    background: $Gradient;
    animation: wave 3s ease-out infinite;
    will-change: transform, opacity;
  }
}

.AsteroidVisualizerItem {
  z-index: 1000;

  &:focus {
    outline: 0;
  }
}