@import '../globals.scss';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(30, 15, 51, .5);
}

.ModalSubscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 540px;
  padding: $Spacing-Large;
  border: 1px solid $Color-Primary;
  border-radius: $Border-Radius * 2;
  background-color: $Color-Grayscale-1;
  animation: animationIn .8s forwards;
  will-change: transform;

  &__close {
    position: absolute;
    top: $Spacing-Normal;
    right: $Spacing-Normal;
    border: none;
    background-color: transparent;

    &:focus {
      border: none;
    }
  }

  &__brandContainer {
    margin-bottom: $Spacing-Large;
  }

  & p {
    color: $Color-Grayscale-8;
    text-align: center;
    margin-bottom: $Spacing-Normal;
  }

  & .form {
    color: $Color-Grayscale-8;
    margin-top: $Spacing-Small;
  }

  & input {
    width: 100%;
  }

  & .btn__normal {
    width: 100%;
    margin-top: $Spacing-Normal;
  }
}