@import '../globals.scss';

.navbar {
	display: flex;
	height: 80px;
	&__menu {
		line-height: 80px;
	}
	& .menu:hover ~ .navbar__submenu, .navbar__submenu:hover {
		display: flex;
	}
	&__submenu {
		position: absolute;
		top: $Spacing-Normal *2;
		left: 0;
		display: none;
		width: 100%;
		padding: $Spacing-Small 0;
		background-color: $Color-Primary;
		&-link {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}
	}
	a {
		margin-left: $Spacing-ExtraLarge;
		font-size: $Font-Paragraph;
		text-decoration: none;
		color: $Color-Grayscale-1;
		cursor: pointer;
	}
	.icon {
		width: $Spacing-Large;
		height: $Spacing-Normal*2;
	}
}