@import '../globals.scss';

.navbar {
    &__menu {
        display: flex;
        padding: $Spacing-Small 0;
        background-color: $Color-Primary;
    }
    &__menu:hover ~ .navbar__submenu, .navbar__submenu:hover {
        display: flex; 
    }
    &__submenu {
        position: absolute;
        top: $Spacing-Normal * 2;
        left: 0;
        display: none;
        padding: $Spacing-Small 0;
        width: 100%;
        background-color: $Color-Primary;
        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }
    a {
        margin-left: $Spacing-ExtraLarge;
        font-size: $Font-Paragraph;
        text-decoration: none;
        color: $Color-Grayscale-1;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .icon {
        height: $Spacing-Normal*2;
        width: $Spacing-Large;
    }
}