@import '../globals.scss';

.playerData {
    display: flex;
    justify-content: space-between;
    width: 500px;
    border-radius: $Border-Radius;
    border: 1px solid $Color-Primary;
    padding: $Spacing-ExtraSmall $Spacing-Small;
}