@import '../globals.scss';

.rowGraphData {
    display: flex;
    justify-content: space-between;
    width: 500px;
    border-radius: $Border-Radius;
    padding: $Spacing-ExtraSmall $Spacing-Small;
    color: $Color-Grayscale-1;
    background-color: $Color-Primary;
}