//   ██████╗ ██████╗ ██╗      ██████╗ ██████╗
//  ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
//  ██║     ██║   ██║██║     ██║   ██║██████╔╝
//  ██║     ██║   ██║██║     ██║   ██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
//   ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
//

$Gradient: linear-gradient(to right, #EA5246, #D1066A);
$Color-Primary: #3F245E;
$Color-Primary-2: #75B843;
$Color-Primary-Light-1: #402C5C;
$Color-Primary-Light-2: #4B3866;
$Color-Primary-Light-3: #604D7A;
$Color-Primary-Dark-1: #2B1A42;
$Color-Primary-Dark-2: #23123B;
$Color-Primary-Dark-3: #1E0F33;
$Color-Secondary: #D1066A;
$Color-Secondary-Light-1: #C2387A;
$Color-Secondary-Light-2: #C94484;
$Color-Secondary-Light-3: #D4508F;
$Color-Secondary-Dark-1: #AB1D61;
$Color-Secondary-Dark-2: #9C1455;
$Color-Secondary-Dark-3: #870E48;
$Color-Facebook: #1877F2;

$Color-Positive: #45D567; //R:69  G:213  B:103
$Color-Negative: #D81C1C; //R:216  G:28  B:28

$Color-Grayscale-1: #ffffff; // R:255  G:255  B:255
$Color-Grayscale-2: #F0EEF3; // R:240  G:238  B:243
$Color-Grayscale-3: #DBD9DD; // R:219  G:217  B:221
$Color-Grayscale-4: #B6B2BB; // R:182  G:178  B:187
$Color-Grayscale-5: #948F9B; // R:148  G:143  B:155
$Color-Grayscale-6: #736C7C; // R:115  G:108  B:124
$Color-Grayscale-7: #4D4459; // R:77  G:68  B:89
$Color-Grayscale-8: #2A1F38; // R:42  G:31  B:56