//  ████████╗██╗   ██╗██████╗  ██████╗
//  ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
//     ██║    ╚████╔╝ ██████╔╝██║   ██║
//     ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
//     ██║      ██║   ██║     ╚██████╔╝
//     ╚═╝      ╚═╝   ╚═╝      ╚═════╝
//

$Font: 'Maven Pro',
sans-serif;

// Typos
$Font-Small: 16px;
$Font-Paragraph: 24px;
$Font-H3: 32px;
$Font-H2: 40px;
$Font-H1: 48px;
$Font-H0: 56px;

// Typo Bolds
$Regular: 400;
$Medium: 500;
$Bold: 700;
$Black: 900;