@import '../styles.scss';

.cardsColection {
  &__options {
    display: flex;
    justify-content: space-between;
  }
  &__options-switch {
    display: flex;
    align-items: center;
  }
  &__cards {
    flex-wrap: wrap;
  }
  &__cards-item {
    display: flex;
    justify-content: center;
  }
}