@import '../globals.scss';
@import '../vendors/grid';

.Welcome {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: $Color-Grayscale-1;

  &__image-rexContainer {
    position: absolute;
    top: $Spacing-Large;
    left: $Spacing-Large - 10;
    width: 350px;
  }

  & h1 {
    margin-top: 100px;
    line-height: .8;
  }
}