@import '../globals.scss';
@import '../vendors/grid';

.HomeBackground {
  color: $Color-Grayscale-1;

  &__recorrido {
    position: relative;

    &-rex {
      position: absolute;
      top: -$Spacing-Small;
      left: (-$Spacing-Large * 3) - 10;
      width: 200px;
    }
  }
}

.welcome {
  display: flex;
  align-items: center;
  height: 100%;
}