@import '../styles.scss';

//-------------------------------  Welcome

.Welcome {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100vh - 160px);
  color: $Color-Grayscale-1;

  &>.wrapper {
    position: relative;
  }

  &__image-rexContainer {
    position: absolute;
    top: -100px;
    left: 0;
    width: 350px;
  }

  & h1 {
    margin-top: 100px;
    margin-bottom: $Spacing-Normal;
    line-height: .8;

    &>span {
      letter-spacing: 20px;
    }
  }

  &__image-capsuleContainer {
    position: absolute;
    top: -26%;
    right: -13%;
    width: 1000px;
  }
}