@import '../vendors/breakpoints.scss';
@import '../tokens/colors.scss';

.Layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:  "header"
                        "content";
  &__content {
    grid-area: content;
    color: $Color-Grayscale-1;
    background-color: $Color-Grayscale-5;
    // background-image: url('http://ec2-54-234-62-6.compute-1.amazonaws.com:8080/static/images/background-space.jpg');
    background-size: cover;
    overflow-y: scroll;
  }
}