@import '../styles.scss';

.NotFound {
  display: flex;
  align-items: center;
  height: calc(100vh - 160px);

  & div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.QuestionMark {
  margin-bottom: $Spacing-Large;
}