@import '../styles.scss';
@import '../tokens/typos.scss';

.welcome {
  height: 100%;
  &__text {
    margin-top: $Spacing-Large;
    
    & h1 {
      font-weight: $Black;
    }

    & h2 {
      font-weight: $Regular;
    }

    & button {
      margin: $Spacing-Small 0;
    }
  }

  &__imageContainer {
    width: 260px;
  }
}