@import '../globals.scss';

.startBackground {
    display: grid;
    grid-template: 50px 120px 80px 1fr / 1fr 1fr;
    height: 100%;
    background-image: url('https://s3.us-west-2.amazonaws.com/secure.notion-static.com/3ecd9776-45ea-4f23-980b-16172e794b14/background-space.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200723%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200723T212924Z&X-Amz-Expires=86400&X-Amz-Signature=da5c5b716ed3286d78d8717f6fe8e212a3c2d7f6585166bb2170a2cd945b4816&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22background-space.jpg%22');
    background-size: cover;
    &__welcome-text {
        grid-row: 2 / span 2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        color: $Color-Grayscale-1;
        & h1, h2 {
            margin: 0;
        }
    }
    &__welcome-image {
        position: relative;
        grid-row: 3 / span 2;
        grid-column: start 2;
        & img {
            position: absolute;
            bottom: 0;
            right: $Spacing-Large * 2;
            height: 100%;
        }
    }
}