@import '../styles.scss';

.welcome {
  &__text {
    margin-top: $Spacing-Large;
    & button {
      margin: $Spacing-Small 0;
    }
  }
  &__image img {
    position: absolute;
    bottom: 88px;
    width: 250px;
  }
}