@import '../styles.scss';

.AsteroidVisualizer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 490px;

  &__earthContainer {
    max-width: 200px;
  }
}