.AsteroidsDetails {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 200px;

  &>.wrapper {
    position: relative;
    opacity: 0;
    animation: fadeInUp .7s ease-out .5s forwards;
    will-change: transform, opacity;
  }
}

.T-rexContainer {
  & h2 {
    line-height: 1;
  }

  & span {
    font-size: 54px;
    letter-spacing: 3px;
  }
}