@import '../globals.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: $Spacing-Small $Spacing-ExtraLarge;
  font-size: $Font-Paragraph;
  color: $Color-Grayscale-1;
  background-color: $Color-Primary;
}

.footer p {
  margin: 0;
  & span {
    color: $Color-Primary-2;
  }
}