@import '../globals.scss';

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: $Color-Grayscale-1;
    align-items: center;
    background-color: $Color-Primary;
    &__menu {
        display: flex;
        color: $Color-Grayscale-1;
        align-items: center;
        background-color: $Color-Primary;
    }
}

.header-margin {
    margin: 0 $Spacing-Normal;
}
