@import '../globals.scss';

.header {
  position: relative;
  z-index: $Zindex-Header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: $Color-Grayscale-1;
  background-color: $Color-Primary;
  &__menu {
    display: flex;
    align-items: center;
    font-weight: $Bold;
  }

  & .navbar {
      &__submenu-link {
      font-weight: $Regular;
    }
  }
}