@import '../vendors/breakpoints.scss';

.Layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto;
  grid-template-areas: "nav"
    "content";

  @include media (tablet) {
    grid-template-columns: 225px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav content";
  }

  & .DesignSystemHome {
    grid-area: content;
    overflow-y: scroll;
  }
}